*{
    margin: 0;
}
#header{
    float: left;
    width:100%;
    background: #F27078;
    font-family: "돋움";
}
#logo{
    text-align: center;
}
#menu1{
    float: left;
    font-size: 18px;
    color: #ffffff;
    margin-left: 100px;
    line-height: 48px;
}
#menu2{
    float: right;
    font-size: 13px;
    color: #ffffff;
    margin-top: 15px;
    margin-right: 50px;
    font-family:굴림; 
}
@media(max-width:700px){
    #header{
        display:none;
    }
    #logo{
        display:none;
    }
}
#footer{
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
border: 3px solid  #F27078;
border-left:none;
border-right:none;
padding: 15px;
display: block;
float: clear;
}
#list img{
    float: left;
    width: 450px;
    margin-left: 100px;
    margin-right: 25px;
}
#list .buy{
    background-color: gray;
    opacity: 0.6;
    width: 200px; height: 60px;
    display: inline-block;
    border: 1px solid black;
    margin: 20px;
}
#list .buy:hover{
    opacity: 1;
}
#list .basket{
    background-color: gray;
    opacity: 0.6;
    width: 200px; height: 60px;
    display: inline-block;
    border: 1px solid black;
}
#list .basket:hover{
    opacity: 1;
}

.name{
    font-size: 35px;
    font-family:monospace;
}
#list hr{
    margin: 25px;
}
#list .buy div{
    padding-left: 70px;
    padding-top: 20px;
}
#list .basket div{
    padding-left: 50px;
    padding-top: 20px;
}
.red{
    color: rgb(241, 78, 78);
    font-size: 13px;
    font-family:"굴림";
}